<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload File to DropBox</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>Upload Your File to Thillai's Drop Box</h1>
<p>Countered an Error while Uploading File. Please try to Re-upload the file</p><br>
<form action="/upload" enctype="multipart/form-data" method="post">
    <input type="file" name="file-to-upload"><br><br>
    <input type="submit" value="Upload">
</form>
</body>
</html>