<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload File to DropBox</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        function previewFile(input){
            var file = $("input[type=file]").get(0).files[0];

            if(file){
                var reader = new FileReader();
                reader.onload = function(){
                    $("#previewImg").attr("src", reader.result);
                };
                reader.readAsDataURL(file);
            }
        }
    </script>
</head>
<body>

<h1>Upload Your File to Thillai's Drop Box</h1>
<form action="/upload" enctype="multipart/form-data" method="post">
    <input type="file" name="file-to-upload" onchange="previewFile(this)"><br><br>
    <img id="previewImg" src="/examples/images/transparent.png" alt="Placeholder"><br><br>
    <input type="submit" value="Upload">
</form><br>

<h1>Download a File from Thillai's Drop Box</h1>
<p>Please enter a file name correctly as it is in the Dropbox</p>
<form action="/download" enctype="application/x-www-form-urlencoded" method="post">
    <input type="text" name="fileName"><br><br>
    <input type="submit" value="Download">
</form>

</body>
</html>

